div {
    width: 80%;
    height: 10%;
    background-color: #FFFACA;
    border: 5px solid grey;
    float: left;
    margin-left: 9%;
  }
  
  table, th, td {
    border: 3px solid red;
    float: right;
  }
  
  td {
    width: 380px;
  }
  